@model OfficeFinal.Models.Feedback

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Give Feedback on Comment</h4>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("User Comment", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("UserCommentId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserCommentId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Feedback", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" name="UserFeedback" id="exampleFormControlTextarea1" rows="10"></textarea>
                                @*@Html.TextAreaFor(model => model.UserFeedback, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.UserFeedback, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.UserTaskId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("UserTaskId", null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserTaskId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.AspNetUserId, "AspNetUserId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("AspNetUserId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AspNetUserId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add Feedback" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
</div>
</div>